html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

body {
    color: #fff;
    background: #3a3a3a;
    font-family: "cofo-sans-mono-variable", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    padding: 0;
    margin: 50px 20px;
}

#container {
    max-width: 900px;
}

h1, h2{
    font-size: 1em;
    font-weight: 300;
    margin: 0 0 10px 0;
}

.sec {
    color: #b5b5b5;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    padding: 0 0 10px 0;
    margin: 0;
}

a, a:visited {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #999;
}

a:hover {
    border-bottom: none;
    color: #999;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0 0 10px 0;
}

.grid {
    padding: 0 0 30px 0;
}

.grid.first {
    padding: 0 0 50px 0;
}

.cv {
    display: grid;
    grid-template-columns: 35% 30% auto;
    grid-gap: 10px;
}

.contact {
    
    display: block;
    text-align: center;
    border: 1px solid #606060;
    padding: 15px 20px;
    margin-bottom: 50px;
}

/*** MQ ***/

@media only screen and (min-width: 800px) {

    .body {
        margin: 100px 50px;
    }
    .grid {
        display: grid;
        grid-template-columns: 25% auto;
        grid-gap: 10px;
        padding: 0 0 50px 0;
    }
    .cv {
        display: grid;
        grid-template-columns: 30% 30% auto;
        grid-gap: 10px;
    }
    .margin {
        margin: 0 0 20px 0;
    }
}