html {
    background: #fff;
    -webkit-font-smoothing: antialiased;
    font-family: 'Everett', sans-serif;
}

body {
    color: #141414;
    font: normal 16px/24px 'Everett', sans-serif;
    padding: 0em;
    margin: 0em;
}

#container {
    padding: 0 20px 20px 20px;
    margin: 0em;
}

header {
    display: flex;
    border-bottom: 1px solid #C9C9C9;
    padding: 40px 0 20px 0;
}

footer {
    font-weight: 400;
    padding: 0;
    margin: 0;
}

h1 {
    font: normal 16px/24px 'Everett', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h2 {
    font: normal 16px/24px 'Everett', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h3 {
    font: normal 16px/24px 'Everett', sans-serif;
    color: #626262;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

p {
    font: normal 16px/24px 'Everett', sans-serif;
    margin: 0 0 20px 0;
    padding: 0;
}

a, a:visited {
    color: #141414;
    text-decoration: none;
    border-bottom: none;
    line-height: 24px;
}

a:hover {
    color: #141414;
    box-shadow: 0 1px 0 #c9c9c9; 
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 20px 0 19px 0;
    border-top: 1px solid #C9C9C9;
}

li {
    float: left;
    color: #626262;
}

img {
    max-width: 100%;
    margin-bottom: 20px;
}

.meta {
    font: normal 14px/18px 'Everett', sans-serif;
    font-weight: 400;
    padding-bottom: 50px;
    margin: 20px 0;
    color: #626262;
}

.small {
    color: #141414;
}

.intro {
    font: normal 30px/38px 'Everett', sans-serif;
    font-weight: 500;
    padding-bottom: 30px;
    margin: 0;
}

.info {
    font: normal 16px/24px 'Everett', sans-serif;
    font-weight: 400;
    margin-left: auto;
    order: 2;
}

.last {
    border-bottom: 1px solid #C9C9C9;
    margin-bottom: 50px;
}

.right {
    float: right;
    color: #141414;
}

.info::before {
    content: url('img/switch.svg');
    display: block;
    height: 12px;
    width: 12px;
    position: absolute;
    margin-left: -18px;
}

.profile {
    max-width: 100%;
    margin-bottom: 20px;
}

/*** MQ ***/

@media only screen and (min-width: 700px) {

    #container {
        max-width: 1200px;
        margin: 0 auto;
    }

    img {
        margin-bottom: 50px;
    }

    .intro {
        font-size: 54px;
        line-height: 64px;
        font-weight: 500;
        padding-bottom: 30px;
        margin: 0;
        max-width: 900px;
    }

    .columns {
        display: flex;
    }

    .column-title {
        width: 280px;
        min-width: 180px;
        margin-right: 20px;
    }

    .column-work {
        max-width: 900px;
    }

    .column-profile {
        width: 300px;
    }

    .column-content {
        width: 600px;
    }

    .profile {
        max-width: 80%;
    }
}

/*** TYPE ***/

@font-face {
    font-family: 'Everett';
    src: url('font/TWKEverett-Regular-web.woff2') format('woff2'), /* Super Modern Browsers */
         url('font/TWKEverett-Regular-web.woff') format('woff'), /* Pretty Modern Browsers */
         url('font/TWKEverett-Regular-web.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'Everett';
    src: url('font/TWKEverett-Medium-web.woff2') format('woff2'), /* Super Modern Browsers */
         url('font/TWKEverett-Medium-web.woff') format('woff'), /* Pretty Modern Browsers */
         url('font/TWKEverett-Medium-web.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 500;
    font-style: normal;
  }